---
import { getI18N } from "../i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<article class="flex gap-12 mb-10">
  <div class="ring-2 ring-white rounded-2xl">
    <img
      src="/photo.jpg"
      alt="About me"
      class="p-2 rounded-2xl object-cover w-[580px] h-full"
    />
  </div>
  <div class="text-pretty pr-36 [&>p]:mb-4">
    <p>
      {i18n.ABOUT_ME.PARRAGRAPH_1_DESC_1}<span class="text-yellow-200"
        >{i18n.ABOUT_ME.PARRAGRAPH_1_DEGREE}</span
      >
      {i18n.ABOUT_ME.PARRAGRAPH_1_DESC_2}
      <span class="text-yellow-200">{i18n.ABOUT_ME.PARRAGRAPH_1_GRADE}</span>
      {i18n.ABOUT_ME.PARRAGRAPH_1_DESC_3}
      <span class="font-mono text-blue-400"
        >{i18n.ABOUT_ME.PARRAGRAPH_1_HELLO_WORLD}</span
      >
      {i18n.ABOUT_ME.PARRAGRAPH_1_DESC_4}
    </p>

    <p>
      {i18n.ABOUT_ME.PARRAGRAPH_2}<span class="text-yellow-200"
        >{i18n.ABOUT_ME.PARRAGRAPH_2_DESC_1}</span
      >.
    </p>

    <p>
      {i18n.ABOUT_ME.PARRAGRAPH_3}
    </p>
  </div>
</article>
